@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg: white;
  --clr-1: #1680a0;
  --clr-2: #d29d64;
  --clr-3: #b3618a;
  --clr-4: #30373d;
  --clr-5: #ffd700;
  --blur: 1rem;
  --fs: clamp(2.8rem, 6vw, 6rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
  display: grid;
  background-color: var(--bg);
  color: black;
  font-family: "Andika", serif;
  text-align: center;
  overflow-x: hidden;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  margin-bottom: 0em;
}

html {
  scroll-behavior: smooth;
}

/* home page */
#home {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

header {
  position: fixed;
  width: max-content;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5c0f8b;
  backdrop-filter: blur(8px);
  color: white;
  padding: 1.1em 2em;
  border-radius: 0.8em;
  z-index: 1000;
  font-size: 1.3rem;
  font-weight: 700;
  height: fit-content;
  margin-bottom: 0em;
}

.clg-logo {
  position: absolute;
  top: 2em;
  left: 3%;
  height: 4em;
}

.club-logo {
  position: absolute;
  top: 2em;
  left: 14%;
  height: 4em;
}

.s4ds {
  position: absolute;
  top: 1.9em;
  left: 80%;
  height: 4em;
  width: 6em;
  object-fit: cover;
}

.content {
  place-items: center;
  position: relative;
  top: 13%;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  margin: 0;
  top: 30%;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0.5em;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: lighten;
  pointer-events: none;
}

.aurora__item {
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
  animation: aurora-border 18s ease-in-out infinite,
    aurora-move 12s ease-in-out infinite;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  animation-name: aurora-border, aurora-move-2;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  animation-name: aurora-border, aurora-move-3;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  animation-name: aurora-border, aurora-move-4;
}

.aurora__item:nth-of-type(5) {
  background-color: var(--clr-5);
  animation-name: aurora-border, aurora-move-5;
}

.vision {
  position: absolute;
  top: 31%;
  width: 100%;
  border-radius: 0.8em;
  height: fit-content;
  text-align: start;
  backdrop-filter: blur(3px);
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgba(78, 82, 82, 0.2); /* Charcoal Grey with opacity */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  z-index: -1;
  .subtitle {
    width: 60%;
    font-size: 2.3em;
    position: relative;
    margin: 0em;
    left: 10%;
    margin-bottom: 0;
  }
  .subtitle-1 {
    left: 13%;
    position: relative;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0.1em;
  }
  .subtitle-2 {
    background-color: rgb(175, 205, 231);
    margin-top: 0.4em;
    position: relative;
    border-radius: 0.8em;
    padding: 0.8em;
    left: 10%;
    width: 34%;
    height: fit-content;
    font-size: 1em;
  }
  .subtitle-3 {
    margin-top: -0.5em;
    font-size: 1.2em;
    position: relative;
    left: 2.5%;
    background: linear-gradient(to right, #364b5f, #e6368e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

#sds-new,
#aicc-new {
  position: relative;
  display: none;
}

#container {
  margin: 0%;
}

#circle {
  position: absolute;
  top: -11.5%;
  left: 86%;
  width: 40%;
}

#circle text {
  font-family: "Helvetica Neue", Arial;
  font-size: 16px;
  font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;

  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.image-slides {
  position: relative;
  width: 500px;
  height: 42%;
  left: 63%;
  top: 21.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .photoslideshow {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .photos {
      display: flex;
      border-radius: 10px;
      animation: slide_animation 28s infinite ease-in-out;
      -webkit-animation: slide_animation 28s infinite ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      flex-shrink: 0;
      object-fit: cover;
      float: left;
      position: relative;
    }
  }
}

.link-blogs {
  position: absolute;
  top: 90%;
  left: 45%;
  font-size: 1em;
  padding: 0.3em 0.8em;
  border: 0.1px solid #5c0f8b;
  border-radius: 0.8em;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
  text-decoration: none;
}

.link-blogs:hover {
  background-color: #5c0f8b;
  transform: scale3d(1.2) !important;
  color: white;
}

/* blogs section */
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blog-title {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 7.5%;
  font-weight: 700;
}
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* border-radius: 1em; */
  text-align: start;
  margin: 2em;
  padding: 1.5em;
  background-color: rgb(196, 214, 248, 0.35);
  backdrop-filter: blur(2px);
  animation: borderRotate var(--d) linear infinite forwards;
}
.upper {
  display: flex;
  flex-direction: row;
  height: 20em;
}
#blog-image {
  height: 20em;
  border-radius: 1em;
  margin: 1em 1em 1em;
  position: relative;
}
.left {
  width: fit-content;
  height: 5em;
}
.left h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 0em 1em 0em;
}
.left h6 {
  font-size: 1em;
  font-weight: 400;
  color: gray;
  margin: 0em 2.6em 0.5em;
}
.button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.4em;
}
.button button {
  color: #5c0f8b;
  font-size: 1.2em;
  padding: 0.2em 0.8em;
  border: 0.1px solid #5c0f8b;
  border-radius: 0.2em;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}
.button button:hover {
  background-color: #5c0f8b;
  transform: scale3d(1.2) !important;
  color: white;
}
.description {
  font-size: 1.05em;
  margin: 0em 2.4em 0.5em;
}
.lower {
  display: none;
  position: relative;
  top: 1.7em;
  font-size: 1.2em;
  margin: 0em 1.25em;
  padding: 0.6em;
}

/* border animation for the blog section */
@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 4000ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(235, 67, 45);
  --c2: rgba(0, 0, 0, 0.3);
}

.card {
  border: 0.2rem solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
}

/* footer {
  background-color: rgb(15, 23, 42);
  color: aliceblue;
  height: max-content;
  position: relative;
  width: 105%;
  margin-left: -1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  h3 {
    margin: 0em;
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }
  h4 {
    font-weight: 400;
    position: relative;
    margin: 0em;
  }
} */

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

/* scrolling animation */
/* @keyframes scroll {
  from {
    opacity: 0;
    scale: 0.8;
  }
} */

/* backround animation */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes slide_animation {
  0%,
  12.5% {
    transform: translateX(0);
  } /* First image pauses */
  25%,
  37.5% {
    transform: translateX(-500px);
  } /* Second image pauses */
  50%,
  62.5% {
    transform: translateX(-1000px);
  } /* Third image pauses */
  75%,
  87.5% {
    transform: translateX(-1500px);
  } /* Fourth image pauses */
  100% {
    transform: translateX(-2000px);
  } /* Fifth image pauses and loop restarts */
}

@-webkit-keyframes slide_animation {
  0%,
  12.5% {
    transform: translateX(0);
  }
  25%,
  37.5% {
    transform: translateX(-600px);
  }
  50%,
  62.5% {
    transform: translateX(-1200px);
  }
  75%,
  87.5% {
    transform: translateX(-1800px);
  }
  100% {
    transform: translateX(-2400px);
  }
}

/* home page rotating logo */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}

/* home page title animation */
@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
  50% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }
  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

@keyframes aurora-move {
  0% {
    top: -50%;
    left: 0%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-move-2 {
  0% {
    top: 0;
    left: 50%;
  }
  50% {
    top: -50%;
    left: 0%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes aurora-move-3 {
  0% {
    bottom: 0;
    right: 50%;
  }
  50% {
    bottom: 50%;
    right: 0%;
  }
  100% {
    bottom: 0;
    right: 50%;
  }
}

@keyframes aurora-move-4 {
  0% {
    bottom: -50%;
    right: 0%;
  }
  50% {
    bottom: 0%;
    right: 50%;
  }
  100% {
    bottom: -50%;
    right: 0%;
  }
}

@media (max-width: 768px) {
  #home {
    overflow: hidden;
    width: 100vw;
    min-height: 150vh;

    /* border: 1px solid black; */
  }

  body {
    margin: 0px;
  }

  .title {
    margin: 0.4em;
  }

  header {
    position: absolute;
    left: 66%;
    width: 58%;
    font-size: 0.7em;
    padding: 0.4em 0.4em;
  }
  .clg-logo {
    position: absolute !important;
    height: 3em;
    top: 1em;
    left: 3%;
  }

  .s4ds,
  .club-logo {
    display: none;
  }

  #container {
    display: none;
  }

  .content {
    top: 7%;
  }

  .vision {
    top: 18%;
    height: fit-content;
    /* margin: 8px 8px; */
  }
  .subtitle {
    font-size: 1.3em !important;
    width: 95% !important;
    left: 2.5% !important;
  }

  .subtitle-1 {
    display: none;
  }

  .subtitle-2 {
    width: 88% !important;
    left: 2.5% !important;
    font-size: 0.8em !important;
    height: fit-content !important;
  }

  .subtitle-3 {
    font-size: 0.9em !important;
    margin-bottom: 0.3em;
  }

  .hidden-logo {
    display: flex;
    justify-content: space-evenly;
  }

  #sds-new {
    display: block;
    height: 4em;
    width: 6em;
    /* left: 5%; */
    margin-bottom: 0.5em;
  }

  #aicc-new {
    display: block;
    height: 4em;
    width: 6em;
    /* left: 12%; */
    margin-bottom: 0.5em;
  }

  .link-blogs {
    /* position: absolute; */
    top: 52%;
    display: none;
    /* width: fit-content; */
    font-size: 1em !important;
    left: 28%;
    padding: 0.4em;
  }

  .image-slides {
    left: 1.7% !important;
    padding-top: 1em;
    height: 25%;
    margin: 1.2%;
    width: 93.5%;
    margin-bottom: 56em;
    top: 43%;
  }

  #blogs {
    height: 230vh;
    width: 100vw;
  }

  #blog-title {
    margin-top: -10em !important;
    font-size: 1.8em;
  }

  .blog-container {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 90vw;
    padding: 0em;
    margin-bottom: 1% !important;
  }

  .upper {
    flex-direction: column;
    height: 65vh;
  }

  #blog-image {
    width: 90%;
    height: 40%;
    margin: 5%;
    margin-bottom: 1%;
    /* margin-top: 0.8em; */
  }

  .left h1 {
    font-size: 1.4em;
    margin-left: 0.7em;
    margin-right: 0.1em;
  }

  .left h6 {
    font-size: 0.7em;
    margin: 0.1em 0em 0em 2.1em;
  }

  .description {
    height: fit-content;
    font-size: 0.65em;
    margin: 0em 0.3em 0em 1.5em;
  }

  .button {
    top: 1em;
    font-size: 0.8em;
  }

  .lower {
    font-size: 0.64em;
    margin: 0em 0.3em 0.5em 1em;
    padding-top: 0em;
  }
  footer {
    width: 100vw;
  }
  @keyframes slide_animation {
    0%,
    10% {
      transform: translateX(0);
    } /* First image pauses */
    20%,
    30% {
      transform: translateX(-100%);
    } /* Second image pauses */
    40%,
    50% {
      transform: translateX(-200%);
    } /* Third image pauses */
    60%,
    70% {
      transform: translateX(-300%);
    } /* Fourth image pauses */
    80%,
    90% {
      transform: translateX(-400%);
    } /* Fifth image pauses */
    100% {
      transform: translateX(0);
    } /* Loop restarts */
  }
}
